div.paginate{
    padding: 5px 0px;
    margin: auto;
}
div.paginate input[type='button']:hover{
    cursor: pointer;
}
div.paginate input[type='button']{
    margin: 0px 2px;
    border: none;
    color: #03A9F4;
    background-color: transparent;
    border-radius: 50%;
    min-width: 1.5rem;
    min-height: 1.5rem;
    outline: none;
}

div.paginate input[type='button'].active{
    background-color: #17a2b8;
    color: #fff;
    font-weight: bold;
}
div.paginate input[type='button']:disabled{
    color: grey!important;
    cursor: not-allowed;
}

div.paginate input[type='number']#paginate_page_to_go{
    max-width: 3rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.65);
    padding: 3px;
}